.App{
  z-index: 2;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
img{
  width: 100%;
}
.background-style{
  font-family: 'Bebas Neue', cursive;
  background-image: url("./Image/travel/Rectangle1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 10000px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;
}
.background-color{
  height: 10000px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.50;
  background-color: #000000;
}
.login-sign-up-btn{
  color: #000;
  outline: none;
  border: 1px solid #8b8b8b;
  padding: 10px;
  background-color: #fff;
  border-radius: 42px;
  width: 90%;
  position: relative;
  margin-bottom: 20px;
}
.icon-facebook{
  top: 2.7px;
  left: 5px;
  background-color: #3076FF;
  border-radius: 50%;
  font-size: 38px;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  z-index: 1;
}
.google-icon{
  position: absolute;
  left: -10px;
  top: 8px;
}
.google-icon img{
  width: 30px;
}
.Link{
  color: #ffd000;
  font-weight: bold;
}
#login-checkbox{
  margin-top: 7px;
  width: 25px;
  height: 10px;
  padding: 10px;

}
.errorSuccess{
  color: green;
  font-weight: bold;
}
.errorWarning{
  color: red;
  font-weight: bold;
}